body {
    background-color: #2c3e50;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 450px;
    margin: 100px auto;
    padding: 30px;
    background-color: #34495e;
    border: 2px solid #1abc9c;
}

h2 {
    text-align: center;
    color: #1abc9c;
}

label {
    font-weight: bold;
    color: #bdc3c7;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
    background-color: #2c3e50;
    border: 1px solid #7f8c8d;
    color: #ecf0f1;
}

input[type="button"] {
    margin-right: 10px;
    padding: 5px;
}